# Required for web scraping with Selenium
selenium

# Required for parsing HTML
beautifulsoup4

# Required for logging
loguru

# Required for sending emails via Gmail API
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

# Required for managing environment variables
python-dotenv

# General dependencies
requests

# Required to avoid the pkg_resources error
setuptools
